.grid {
    display: flex;
    flex-flow: row wrap;
}

.card {
    background-color: #ededed;
    padding: 5px;
    border: 1px solid #dcdada;
    box-shadow: 0 0 10px #b3b1b1;
    border-radius: 4px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.user-item {
    display: flex;
    align-items: center;
    width: 445px;
}

.user-item .card__image {
    margin-right: 10px;
    border-radius: 50%;
    max-width: 128px;
    overflow: hidden;
}

.user-item .card__image img {
    max-width: 100%;
}

.card__content {
    margin-right: 10px;
}

.user-item .user__title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.user-item .user__subtitle {
    font-size: 14px;
    font-weight: bold;
}

.card__actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: auto;
}

.card__actions .card-button {
    text-decoration: none;
    padding: 5px 10px;
    background: white;
    border: 1px solid rgb(216, 216, 216);
    display: inline-block;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    line-height: 12px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

.card__actions .card-button.card__actions-edit {
    border-color: green;
    color: green;
    transition: all .3s linear;
}

.card__actions .card-button.card__actions-edit:hover {
    color: white;
    background: green;
}

.card__actions .card-button.card__actions-delete {
    border-color: red;
    color: red;
    transition: all .3s linear;
}

.card__actions .card-button.card__actions-delete:hover {
    color: white;
    background: red;
}